body,
html {
  height: 100% auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background-color: lightgoldenrodyellow;
  padding: 25px;
  border-radius: 30px;
  height: 0 auto;
}

label {
  display: block;
  font-size: 30px;
  margin: 30px;
}

select {
  display: block;
  font-size: 18px;
  border-radius: 10px;
  background-color: lightcyan;
  margin: 0 auto;
  padding: 10px;
}

.container {
  display: grid;
  height: 100% auto;
  margin: 0 auto;
}
